In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('steamspy_data.csv')
df

,appid,name,developer,publisher,positive,negative,userscore,owners,average_forever,average_2weeks,...,language_7,language_8,language_9,language_10,language_11,genre_1,genre_2,genre_3,genre_4,genre_5
0,10,Counter-Strike,Valve,Valve,124534,3339,0,15000000,17612,709,...,Traditional Chinese,Korean,NaN,NaN,NaN,Action,NaN,NaN,NaN,NaN
1,20,Team Fortress Classic,Valve,Valve,3318,633,0,7500000,277,15,...,Russian,Simplified Chinese,Traditional Chinese,NaN,NaN,Action,NaN,NaN,NaN,NaN
2,30,Day of Defeat,Valve,Valve,3416,398,0,7500000,187,0,...,NaN,NaN,NaN,NaN,NaN,Action,NaN,NaN,NaN,NaN
3,40,Deathmatch Classic,Valve,Valve,1273,267,0,7500000,258,0,...,Russian,Simplified Chinese,Traditional Chinese,NaN,NaN,Action,NaN,NaN,NaN,NaN
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,5250,288,0,7500000,624,0,...,NaN,NaN,NaN,NaN,NaN,Action,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29230,1065230,Room of Pandora,SHEN JIAWEI,SHEN JIAWEI,3,0,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Adventure,Casual,Indie,NaN,NaN
29231,1065570,Cyber Gun,Semyon Maximov,BekkerDev Studio,8,1,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Indie,NaN,NaN
29232,1065650,Super Star Blast,EntwicklerX,EntwicklerX,0,1,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Action,Casual,Indie,NaN,NaN
29233,1066700,New Yankee 7: Deer Hunters,Yustas Game Studio,Alawar Entertainment,2,0,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Adventure,Casual,Indie,NaN,NaN
29234,1069460,Rune Lord,Adept Studios GD,Alawar Entertainment,4,0,0,10000,0,0,...,Dutch,Russian,NaN,NaN,NaN,Adventure,Casual,Indie,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29235 entries, 0 to 29234
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   appid            29235 non-null  int64
 1   name             29230 non-null  object
 2   developer        29037 non-null  object
 3   publisher        28939 non-null  object
 4   positive         29235 non-null  int64
 5   negative         29235 non-null  int64
 6   userscore        29235 non-null  int64
 7   owners           29235 non-null  int64
 8   average_forever  29235 non-null  int64
 9   average_2weeks   29235 non-null  int64
 10  median_forever   29235 non-null  int64
 11  median_2weeks    29235 non-null  int64
 12  price            29206 non-null  float64
 13  initialprice     29213 non-null  float64
 14  discount         29213 non-null  float64
 15  ccu              29235 non-null  int64
 16  language_1       29141 non-null  object
 17  language_2       12552 non-null  object
 18  language_3       9035 non-null   object
 19  language_4       7619 non-null   object
 20  language_5       6678 non-null   object
 21  language_6       5357 non-null   object
 22  language_7       4430 non-null   object
 23  language_8       3662 non-null   object
 24  language_9       2989 non-null   object
 25  language_10      2371 non-null   object
 26  language_11      1853 non-null   object
 27  genre_1          29083 non-null  object
 28  genre_2          24499 non-null  object
 29  genre_3          15872 non-null  object
 30  genre_4          7370 non-null   object
 31  genre_5          2951 non-null   object
dtypes: float64(3), int64(10), object(19)
memory usage: 7.1+ MB

In [4]:
df.describe()

,appid,positive,negative,userscore,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
count,2.923500e+04,2.923500e+04,29235.000000,29235.000000,2.923500e+04,29235.000000,29235.000000,29235.000000,29235.000000,29206.000000,29213.000000,29213.000000,29235.000000
mean,5.937432e+05,9.654789e+02,205.846725,0.148863,1.324113e+05,148.133846,7.162579,145.004652,7.732581,777.811374,803.995755,2.832027,140.956833
std,2.528262e+05,1.829885e+04,4132.388985,3.439954,1.286983e+06,1913.429438,113.653011,2389.469023,124.511022,1135.277801,1169.816585,13.353006,6894.578948
min,1.000000e+01,0.000000e+00,0.000000,0.000000,1.000000e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.979200e+05,6.000000e+00,2.000000,0.000000,1.000000e+04,0.000000,0.000000,0.000000,0.000000,199.000000,199.000000,0.000000,0.000000
50%,5.982400e+05,2.300000e+01,8.000000,0.000000,1.000000e+04,0.000000,0.000000,0.000000,0.000000,499.000000,499.000000,0.000000,0.000000
75%,7.973700e+05,1.200000e+02,41.000000,0.000000,3.500000e+04,0.000000,0.000000,0.000000,0.000000,999.000000,999.000000,0.000000,0.000000
max,1.069460e+06,2.644404e+06,487076.000000,100.000000,1.500000e+08,190625.000000,9003.000000,190625.000000,9003.000000,59599.000000,59599.000000,90.000000,742725.000000

In [5]:
df.head(10)

,appid,name,developer,publisher,positive,negative,userscore,owners,average_forever,average_2weeks,...,language_7,language_8,language_9,language_10,language_11,genre_1,genre_2,genre_3,genre_4,genre_5
0,10,Counter-Strike,Valve,Valve,124534,3339,0,15000000,17612,709,...,Traditional Chinese,Korean,NaN,NaN,NaN,Action,NaN,NaN,NaN,NaN
1,20,Team Fortress Classic,Valve,Valve,3318,633,0,7500000,277,15,...,Russian,Simplified Chinese,Traditional Chinese,NaN,NaN,Action,NaN,NaN,NaN,NaN
2,30,Day of Defeat,Valve,Valve,3416,398,0,7500000,187,0,...,NaN,NaN,NaN,NaN,NaN,Action,NaN,NaN,NaN,NaN
3,40,Deathmatch Classic,Valve,Valve,1273,267,0,7500000,258,0,...,Russian,Simplified Chinese,Traditional Chinese,NaN,NaN,Action,NaN,NaN,NaN,NaN
4,50,Half-Life: Opposing Force,Gearbox Software,Valve,5250,288,0,7500000,624,0,...,NaN,NaN,NaN,NaN,NaN,Action,NaN,NaN,NaN,NaN
5,60,Ricochet,Valve,Valve,2758,684,0,7500000,175,0,...,Russian,Simplified Chinese,Traditional Chinese,NaN,NaN,Action,NaN,NaN,NaN,NaN
6,70,Half-Life,Valve,Valve,27755,1100,0,7500000,1300,24,...,Traditional Chinese,Korean,NaN,NaN,NaN,Action,NaN,NaN,NaN,NaN
7,80,Counter-Strike: Condition Zero,Valve,Valve,12120,1439,0,15000000,427,6,...,Traditional Chinese,Korean,NaN,NaN,NaN,Action,NaN,NaN,NaN,NaN
8,130,Half-Life: Blue Shift,Gearbox Software,Valve,3822,420,0,7500000,361,0,...,NaN,NaN,NaN,NaN,NaN,Action,NaN,NaN,NaN,NaN
9,220,Half-Life 2,Valve,Valve,67902,2419,0,15000000,691,19,...,Russian,Simplified Chinese,Traditional Chinese,Dutch,Danish,Action,NaN,NaN,NaN,NaN

In [6]:
df.tail(100)

,appid,name,developer,publisher,positive,negative,userscore,owners,average_forever,average_2weeks,...,language_7,language_8,language_9,language_10,language_11,genre_1,genre_2,genre_3,genre_4,genre_5
29135,1051530,HELPLESS ZOMBIES,"SharkGame, Mihan0id",KishMish Games,1,0,0,10000,0,0,...,Korean,Russian,Turkish,NaN,NaN,Casual,Indie,NaN,NaN,NaN
29136,1051810,VCB: Why City 4k,KishMish Games,KishMish Games,17,5,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Indie,Racing,Simulation
29137,1051830,House of Evil 2,indie_games_studio,indie_games_studio,5,9,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Adventure,Indie,NaN,NaN,NaN
29138,1051840,Paradox Vector,Schmidt Workshops,Schmidt Workshops,1,1,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Action,Indie,Early Access,NaN,NaN
29139,1051890,BLOCKADE War Stories,Novalink,Novalink,11,6,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Indie,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29230,1065230,Room of Pandora,SHEN JIAWEI,SHEN JIAWEI,3,0,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Adventure,Casual,Indie,NaN,NaN
29231,1065570,Cyber Gun,Semyon Maximov,BekkerDev Studio,8,1,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Action,Adventure,Indie,NaN,NaN
29232,1065650,Super Star Blast,EntwicklerX,EntwicklerX,0,1,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Action,Casual,Indie,NaN,NaN
29233,1066700,New Yankee 7: Deer Hunters,Yustas Game Studio,Alawar Entertainment,2,0,0,10000,0,0,...,NaN,NaN,NaN,NaN,NaN,Adventure,Casual,Indie,NaN,NaN
29234,1069460,Rune Lord,Adept Studios GD,Alawar Entertainment,4,0,0,10000,0,0,...,Dutch,Russian,NaN,NaN,NaN,Adventure,Casual,Indie,NaN,NaN

In [7]:
df.isnull().sum()

appid                  0
name                   5
developer            198
publisher            296
positive               0
negative               0
userscore              0
owners                 0
average_forever        0
average_2weeks         0
median_forever         0
median_2weeks          0
price                 29
initialprice          22
discount              22
ccu                    0
language_1            94
language_2         16683
language_3         20200
language_4         21616
language_5         22557
language_6         23878
language_7         24805
language_8         25573
language_9         26246
language_10        26864
language_11        27382
genre_1              152
genre_2             4736
genre_3            13363
genre_4            21865
genre_5            26284
dtype: int64